/* Layout and positioning styles */

/* Combined and optimized list item styles */
ol li {
  counter-increment: days-counter;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 0 1px 15px black;
  z-index: 5;
  position: sticky;
}

/* List item positioning with staggered sticky positions - adjusted to avoid header overlap */
ol li:nth-child(1) {
  top: 10vh;
  height: 100vh;
  background-image: var(--first-item-background);
}

ol li:nth-child(2) {
  top: 15vh;
  height: 92.5vh;
  background-image: url('lantern_onBk-ani.gif');
}

ol li:nth-child(3) {
  top: 22vh;
  height: 85vh;
  background-image: url('fire.gif');
}

ol li:nth-child(4) {
  top: 29vh;
  height: 77.5vh;
  background-image: url('fire.gif');
}

ol li:nth-child(5) {
  top: 36vh;
  height: 70vh;
  background-image: url('fire.gif');
}

ol li:nth-child(6) {
  top: 43vh;
  height: 62.5vh;
  background-image: url('fire.gif');
}

ol li:nth-child(7) {
  top: 50vh;
  height: 55vh;
  background-image: url('fire.gif');
}

ol li:nth-child(8) {
  top: 57vh;
  height: 47.5vh;
  background-image: url('fire.gif');
}

ol li:nth-child(9) {
  top: 64vh;
  height: 40vh;
  background-image: url('fire.gif');
}

ol li:nth-child(10) {
  top: 71vh;
  height: 32.5vh;
  background-image: url('fire.gif');
}

ol li:nth-child(11) {
  top: 78vh;
  height: 25vh;
  background-image: url('fire.gif');
}

ol li:nth-child(12) {
  top: 85vh;
  height: 17.5vh;
  background-image: url('fire.gif');
}

ol li:nth-child(13) {
  top: 92vh;
  height: 10vh;
  background-image: url('fire.gif');
}
